<%= div_for message, data: {id: message.id} do %>
   <div class="Area">
    <div class="<%= get_side(current_user.id, message)%>">
      <a class="messenger-anchor" href="<%= profile_path(message.user.id)%>">
    <img class="messenger-image" src="<%= message.user.profile.picture %>"/>
        <div class="tooltip"><%= message.user.username %></div></a>
    </div>
    <div class="text <%= get_opposite_side(current_user.id, message) %> text<%= get_opposite_side(current_user.id, message) %>"><%= message.body %>
    </div>
  </div>
<% end %>

