<div class="title">
  <h3 class="align-center">Commit History</h3>
</div>
<div id="messages_container" data-path="<%= conversation_messages_path(@conversation) %>">
  <% @messages.each do |message| %>
    <% if message.body %>
      <%= render partial: "message", locals: {message: message} %>
    <% end %>
  <% end %>
</div>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control", :required => true %>
  </div>
  <%= f.text_field :user_id, value: current_user.id, type: :hidden %>
  <div>
    <%= f.submit "commit -m", class: "ui blue labeled submit icon button" %>
  </div>
<% end %>

<% if @errors %>
  <% @errors.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>