<div class="row">
  <div class="thumbnail profile_card center align-left">
		<% if profile.picture_file_name %>
			<%= image_tag(profile.picture, class: "left profile_pic") %>
		<% else %>
			<%= image_tag("ninja.png", class: "left default-pic profile_pic") %>
		<% end %>
		<div class="profile_heading">
			<h3 class="left no-margin grey"><%= link_to(profile.user.first_name, profile_path(profile), class: "grey") %>, <%= profile.user.age %></h3>
		</div>
    <div class="caption profile_card_info ">
    	<p><%= profile.about_me %></p>
			<p><strong>Languages:</strong>
			<% if profile.user.languages.empty? %>
				N/A
			<% else %>
				<%= separate_with_commas(profile.user.languages) %>
			<% end %>
			</p>
			<p><strong>Text Editors:</strong>
			<% if profile.user.text_editors.empty? %>
				N/A
			<% else %>
				<%= separate_with_commas(profile.user.text_editors) %>
			<% end %>
			</p>
			<p><strong>Operating Systems:</strong>
			<% if profile.user.operating_systems.empty? %>
				N/A
			<% else %>
				<%= separate_with_commas(profile.user.operating_systems) %>
			<% end %>
			</p>
			<p><strong>Skills:</strong>
			<% if profile.user.skills.empty? %>
				N/A
			<% else %>
				<%= separate_with_commas(profile.user.skills) %>
			<% end %>
			</p>
			<p><strong>Looking for:</strong>
			<% if profile.user.relationship_types.empty? %>
				¯\_(ツ)_/¯
			<% else %>
				<%= separate_with_commas(profile.user.relationship_types) %>
			<% end %>
			</p>

			<%= link_to "new git log", conversations_path(sender_id: current_user.id, recipient_id: profile.user.id), method: :post, class: "btn btn-default" %>
			<% if current_user.pull_request_exists?(profile.user) %>
				<%= link_to "close pull request", close_pull_request_path(liked: profile.user), method: :delete, class: "btn btn-default" %>
			<% else %>
				<%= link_to "open pull request", create_pull_request_path(liked: profile.user), method: :post, class: "btn btn-default" %>
			<% end %>
    </div>
	</div>
</div>
