<article class="push-down">
  <section id="profile-show" class="profile-show-margin-top left inlineblock">
    <aside id="profile-aside" class="white-smoke-background-color padding-all-around">
    	<% if @profile.picture_file_name %>
    		<%= image_tag @profile.picture.url(:square), class: "left" %>
    	<% else %>
    		<%= image_tag("ninja.png", class: "left profile-pic-padding-bottom") %>
    	<% end %>

     <p class="lead">
       <%= @user.username %>
     </p>

     <p class="lead">
      <span id="age">Age:</span>
      <%= @user.age %> years old
    </p>

     <p class="lead">
        <% if @profile.user == current_user %>
          <%= link_to("Edit Profile", edit_profile_path(@profile), class: "btn btn-default") %>
        <% end %>
     </p>

    </aside>
  </section>

 <section id="user-info" class="right inlineblock">
  <section id="about-me">
   <div id="table-div">
     <table class="white-smoke-background-color padding-all-around">
      <tr>
        <th class="lead align-left"><h2>User Information</h2></th>
      </tr>
      <tr>
        <td class="bold padding-left lead">First Name:</td>
        <td class="lead"><%= @user.first_name %></td>
      </tr>
      <tr>
        <td class="bold padding-left lead">Last Name:</td>
         <td class="lead"><%= @user.last_name %></td>
      </tr>
      <tr>
        <td class="bold padding-left lead">Birthday:</td>
        <td class="lead"><%= @user.birthday %></td>
      </tr>
      <tr>
        <td class="bold padding-left lead">Email:</td>
        <td class="lead"><%= @user.email %></td>
      </tr>
      <tr>
        <td class="bold padding-left lead">Zip Code:</td>
        <td class="lead"><%= @user.zip_code %></td>
      </tr>
      <tr>
        <td class="bold padding-left lead">Gender:</td>
        <td class="lead"><%= @user.gender.name %></td>
      </tr>
      <tr>
        <td class="bold padding-left lead">Sexual Orientation:</td>
        <td class="lead"><%= @user.sexual_orientation.name %></td>
      </tr>
      <tr>
        <td class="bold padding-left lead">Sexual Preference:</td>
        <td class="lead"><%= @user.sexual_preference.name %></td>
      </tr>
      <tr>
       <td class="bold padding-left padding-bottom lead">Github Link:</td>
        <% if @user.profile.github_link.length == 0 %>
          <td class="lead">N/A</td>
        <% else %>
          <td class="lead"><%= @user.profile.github_link %></td>
        <% end %>
      </tr>
     </table>
    </div>
  </section>

  <div id="block">
   <section id="user-skills" class="user-skills-margin-top white-smoke-background-color padding-all-around inlineblock">

    <div class="overflow-hidden">
      <% unless @user.profile.about_me.length == 0 %>
        <div class="left help-image"><%= image_tag "user.jpg", class: "user-skills-imgs" %></div>
        <div class="left help">
          <h2 class="user-skills-header">About Me</h2>
          <div class="lead"><%= @user.profile.about_me %></div>
        </div>
      <% end %>
   </div>

    <div class="overflow-hidden">
       <div class="left help-image"><%= image_tag "code.jpg", class: "user_skills_imgs" %></div>
       <div class="left help">
         <h2 class="user-skills-header" >Programming Languages</h2>
            <% @user.languages.each do |language| %>
              <div class="lead user-pills inlineblock"><%= language.name %></div>
            <% end %>
       </div>
    </div>

    <div class="overflow-hidden">
      <div class="left help-image"><%= image_tag "text_editor.jpg", class: "user_skills_imgs" %></div>
      <div class="left help">
        <h2 class="user-skills-header">Text Editors</h2>
          <% @user.text_editors.each do |editor| %>
            <p class="lead user-pills inlineblock"><%= editor.name %><p>
          <% end %>
    </div>
    </div>

    <div class="overflow-hidden">
     <div class="left help-image"><%= image_tag "system_information.jpg", class: "user_skills_imgs" %></div>
      <div class="left help">
        <h2 class="user-skills-header">Operating Systems</h2>
          <% @user.operating_systems.each do |operating_system| %>
            <p class="lead user-pills inline"><%= operating_system.name %><p>
          <% end %>
      </div>
    </div>

    <div class="overflow-hidden">
      <div class="left help-image"><%= image_tag "skill.jpg", class: "user_skills_imgs" %></div>
      <div class="left help">
        <h2 class="user-skills-header">Skills</h2>
          <% @user.skills.each do |skill| %>
            <p class="lead user-pills inlineblock"><%= skill.name %><p>
          <% end %>
      </div>
    </div>

     </section>
   </section>
 </div>
</article>

