<div>
  <p>
  <%= image_tag @profile.picture.url(:square) %>
  </p>
</div>
<div>
  <p>
    <%= @user.username %> <%= @user.age %> years old
  </p>
</div>

<div>
  <p>
    <%= @user.sexual_orientation.name %> <%= @user.gender.name %> looking for  <%= @user.sexual_preference.name %>
  </p>
</div>


