<div class="add-body-margin">
  <h1 class="center">Login</h1>

  <%= form_for :user, url: login_path do |f| %>
    <div class="input-group">
      <%= f.label :username, class: "input-group-addon" %>
      <%= f.text_field :username, class: "form-control" %>
  	</div>
  	<div class="input-group">
      <%= f.label :password, class: "input-group-addon" %>
      <%= f.password_field :password, class: "form-control" %>
  	</div>
  	<div class="center input-group">
      <%= f.submit :submit, class: "submit btn btn-default" %>
  	</div>
  <% end %>

  <% if @errors %>
    <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  <% end %>
</div>
