<h1 class="center">Create an Account</h1>

<%= form_for @user, url: account_path do |f| %>
  <div class="input-group">
    <%= f.label :first_name, class: "input-group-addon" %>
    <%= f.text_field :first_name, class: "form-control", validate: true %>
	</div>
  <div class="input-group">
    <%= f.label :last_name, class: "input-group-addon" %>
    <%= f.text_field :last_name, class: "form-control" %>
	</div>
  <div class="input-group">
    <%= f.label :email, class: "input-group-addon" %>
    <%= f.email_field :email, class: "form-control" %>
	</div>
  <div class="input-group">
    <%= f.label :username, class: "input-group-addon" %>
    <%= f.text_field :username, class: "form-control" %>
	</div>
	<div class="input-group">
    <%= f.label :password, class: "input-group-addon" %>
    <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
	</div>
	<div class="input-group">
    <div class="input-group-addon"></div>
    <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "form-control" %>
	</div>
	<div class="input-group">
	  <%= f.label :birthday %><br>
	  <%= f.date_select :birthday, start_year: Date.today.year - 99, end_year: Date.today.year - 18, default: {year: Date.today.year - 18} %>
	</div>
	<div class="input-group">
	  <%= f.label :gender_id %><br>
	  <%= select_tag(:gender_id, options_for_select([['', 0], ['male', 1], [
	    'female', 2]])) %>
	</div>
	<div class="input-group">
	  <%= f.label :sexual_orientation_id %><br>
	  <%= select_tag(:sexual_orientation_id, options_for_select([['', 0], ['straight', 1], ['gay', 2], ['lesbian', 3], ['bi', 4], ['trans', 5], ['queer', 6], ['asexual', 7]])) %>
	</div>
	<div class="input-group">
	  <%= f.label :sexual_preference_id %><br>
	  <%= select_tag(:sexual_preference_id, options_for_select([['', 0], ['male', 1], ['female', 2], ['male & female', 3]])) %>
	</div>
	<div class="input-group">
	  <%= f.label :zip_code, class: "input-group-addon" %>
	  <%= f.text_field :zip_code, class: "form-control" %>
	</div>
	<div class="center input-group">
	  <%= f.submit :submit, class: 'submit btn btn-default' %>
	</div>
<% end %>
