User: <%= @user.username %>

<div>
  <p>
    <%= @user.first_name %>
    <%= @user.last_name %>
    <%= @user.calculate_age(@user.birthday) %> years old
  </p>
  <%= @user.email %>
  <%= @user.zip_code %>
</div>

<div>
  <p>
    <%= @user.gender.name %> looking for <%= @user.sexual_orientation.name %>
  </p>
</div>
