<div>
  <p>
    <%= @user.username %>
    <%= @user.first_name %>
    <%= @user.last_name %>
    <%= @user.calculate_age(@user.birthday) %> years old
  </p>
</div>

<div>
  <p>
    <%= @user.email %>
    <%= @user.zip_code %>
  </p>
</div>

<div>
  <p>
    <%= @user.sexual_orientation.name %> <%= @user.gender.name %> looking for  <%= @user.sexual_preference.name %>
  </p>
</div>
