<h1>Filters:</h1>

 <%= form_for :filter, url: filters_path do |f| %>
    <p>
      <%= f.label "Programming Languages:" %>
      <% @programming_languages.each do |programming_language| %>
         <p><%= f.check_box(programming_language) %><%= programming_language %></p>
      <% end %>
    </p>

    <p>
      <%= f.label "Skills:" %>
      <% @skills.each do |skill| %>
         <p><%= f.check_box(skill) %><%= skill %></p>
      <% end %>
    </p>

    <p>
      <%= f.label "Sexual Preferences:" %>
      <%= f.select :sexual_preference_id, options_for_select(@sexual_preferences), selected: current_user.sexual_preference_id %>
    </p>

    <p>
      <%= f.label "Minimum Age:" %>
      <p><%= f.select :age, options_for_select((18..99).step(1))%></p>
      <%= f.label "Maximum Age:" %>
      <p><%= f.select :age, options_for_select((18..99).step(1)) %><p>
    </p>
    <%= f.submit %>
  <% end %>
