<div class="add-body-margin">
	<h1 class="center text-center">Filters</h1>

	<%= form_for :user_filter, url: filters_path, html: {class: "filters_form"} do |f| %>
		<fieldset>
			<legend>Programming Languages</legend>
			<% @languages.each do |language| %>
				<div class="inlineblock checkbox_cols"><%= f.check_box(language.id, {checked: @user_filters.include?(language.id)}) %> <%= f.label language.filterable.name, for: "user_filter_#{language.id}" %></div>
			<% end %>
		</fieldset>

		<fieldset>
			<legend>Skills</legend>
			<% @skills.each do |skill| %>
				<div class="inlineblock checkbox_cols"><%= f.check_box(skill.id, {checked: @user_filters.include?(skill.id)}) %> <%= f.label skill.filterable.name, for: "user_filter_#{skill.id}" %></div>
			<% end %>
		</fieldset>

		<fieldset>
			<legend>Text Editors</legend>
			<% @text_editors.each do |te| %>
				<div class="inlineblock checkbox_cols"><%= f.check_box(te.id, {checked: @user_filters.include?(te.id)}) %> <%= f.label te.filterable.name, for: "user_filter_#{te.id}" %></div>
			<% end %>
		</fieldset>

		<fieldset>
			<legend>Operating Systems</legend>
			<% @operating_systems.each do |sys| %>
				<div class="inlineblock checkbox_cols"><%= f.check_box(sys.id, {checked: @user_filters.include?(sys.id)}) %> <%= f.label sys.filterable.name, for: "user_filter_#{sys.id}" %></div>
			<% end %>
		</fieldset>

		<fieldset>
			<legend>Looking For...</legend>
			<% @rel_types.each do |rt| %>
				<div class="inlineblock checkbox_cols"><%= f.check_box(rt.id, {checked: @user_filters.include?(rt.id)}) %> <%= f.label rt.filterable.name, for: "user_filter_#{rt.id}" %></div>
			<% end %>
		</fieldset>

		<div class="center"><%= f.submit 'save', class: "submit btn btn-default" %></div>

	<% end %>
</div>
