<h1>Filters:</h1>

  <p>
    <%= label_tag "Programming Languages:" %>
    <% @programming_languages.each do |programming_language| %>
       <p><%= check_box_tag(programming_language) %><%= programming_language %></p>
    <% end %>
  </p>

  <p>
    <%= label_tag "Skills:" %>
    <% @skills.each do |skill| %>
       <p><%= check_box_tag(skill) %><%= skill %></p>
    <% end %>
  </p>

  <p>
    <%= label_tag "Sexual Preferences:" %>
    <% @sexual_prefences.each do |sexual_prefence| %>
       <p><%= check_box_tag(sexual_prefence) %><%= sexual_prefence %></p>
    <% end %>
  </p>

  <p>
    <%= label_tag "Age:" %>
  </p>
