<!DOCTYPE html>
<html>
<head>
  <title>Git Committed</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
	  <h1 class='logo inlineblock'><%= link_to("Git Committed", root_path, class: 'grey logo') %></h1>
		
		<div class="navbar btn-group inlineblock" role="group">
			<% if current_user %>
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      <span class="glyphicon glyphicon-user"></span> account
		      <span class="caret"></span>
		    </button>
				<ul class="dropdown-menu">
			    <li><%= link_to("settings", edit_user_path(current_user)) %></li>
			    <li><%= link_to("logout", logout_path, method: :delete) %></li>
				</ul>
		  <% else %>
		    <%= link_to("login", login_path, class: 'btn btn-default') %>
		    <%= link_to("register", new_user_path, class: 'btn btn-default') %>
		  <% end %>
			</ul>
		</div>
	</header>
<%= yield %>
</body>
</html>
